<%= form_for([:goal, @log_item]) do |f| %>
  <% if @log_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_item.errors.count, "error") %> prohibited this log_item from being saved:</h2>

      <ul>
      <% @log_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
