<p id="notice"><%= notice %></p>

<p>
  <b>Goal:</b>
  <%= @log_item.goal.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @log_item.comment %>
</p>

<p>
  <b>Score:</b>
  <%= @log_item.score %>
</p>


<%= link_to 'Edit', edit_goal_log_item_path(@goal, @log_item) %> |
<%= link_to 'Back', goal_log_items_path %>
