<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @goal.name %>
</p>

<p>
  <b>Category:</b>
  <%= @goal.category %>
</p>

<p>
  <b>Completed:</b>
  <%= @goal.completed %>
</p>

<p>
  <%- @goal.log_items.each do |item| -%>
    <%= item.comment %>: <%= item.score %><br />
  <%- end -%>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
